/* Header.module.css */
.headerWrapper {
    border-bottom: 1px solid #F6F6F6;
    width: 100vw;
    height: 129px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-inline: 20px;
    max-width: 1540px;
    height: 129px;
    background-color: #FFFFFF;
}

.logo {
    width: 105px;
    height: 45px;
    background: url("/src/images/svg/logotype.svg") no-repeat;
    background-size: contain;
    font-size: 24px;
}

.logoLink {
    text-decoration: none;
    color: #333;
}

.catalog,
.userMenu {
    position: relative;
}

.catalogButton {
    display: block;
    font-size: 20px;
    color: #FFFFFF;
    width: 110px;
    text-align: center;
    padding: 13px 0;
    border-radius: 5px;
    background-color: #2441C1;
}

.catalogButton:hover {
    background-color: #2F4FCF; /* Цвет фона при наведении */
}

.megaDropdown {
    position: absolute;
    display: none; /* Скрываем по умолчанию */
}

.catalog:hover .megaDropdown, .userMenu:hover .megaDropdown {
    display: block; /* Показываем при наведении */
}

.dropdownTitle {
    font-weight: bold;
}

.dropdownList {
    list-style-type: none;
    padding: 0;
}

.menuItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.iconBook {
    width: 60px;
    height: 40px;
    background: url("/src/images/svg/book.svg") no-repeat;
    background-size: contain;
}

.iconUser {
    width: 40px;
    height: 40px;
    background: url("/src/images/svg/user.svg") no-repeat;
    background-size: contain;
}

.link {
    font-size: 16px;
    color: #000000;
    margin-top: 8px;
    text-decoration: none;
}

.link:hover {
    color: #000000;
    text-decoration: none;
}

.menuItem:hover {
    text-decoration: underline;
}

.search {
    display: flex;
}

.searchInput {
    padding: 5px;
}

.searchButton {
    padding: 5px 10px;
}

.userMenu {
    display: flex;
    align-items: center;
}