.articleContainer {
    display: block;
}

.articleTitleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.articleTitle {
    font-size: 32px;
}

.articleAuthor {
    font-size: 24px;
}

.articleBody {
    font-size: 24px;
}