.adminMenuContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.title {
    font-size: 30px;
    margin: 15px 0 5px 20px;
    color: #000;
}

.adminMenuButtons {
    width: 100%;
}

.buttonsContainer {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: flex-start;
}

.button {
    flex: 0 1 calc(33.33% - 30px);
    box-sizing: border-box; 
    text-align: center;
    font-size: 20px;
    padding: 10px 30px;
    margin: auto;
    border-radius: 15px;
    min-height: 60px;
}