.libraryContainer {
    width: 100%;
}

.library {
    display: flex;
}

.title {
    font-size: 28px;
}

.libraryMenu {
    min-width: 300px;
    width: 300px;
    max-width: 300px;
}

.libraryMenuItem {
    text-align: center;
    font-size: 22px;
    border: 1px #BABABA solid;
    border-bottom: none;
    padding: 5px 0;
    border-right: none;
    cursor: pointer;
}

.libraryMenuItem:first-child {
    border-top-left-radius: 10px;
}

.libraryMenuSelectedItem {
    background-color: #2441C1;
    color: #FFF;
    cursor: default;
}

.libraryMenuItem:last-child {
    border-bottom-left-radius: 10px;
    border-bottom: 1px #BABABA solid;
}

.libraryBooksContainer {
    display: flex;
    flex-direction: column;
    border: 1px #BABABA solid;
    border-radius: 10px;
    border-top-left-radius: 0;
    max-height: 1040px;
    min-height: 150px;
    min-width: 400px;
}

.libraryBooksBodyContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 15px 35px 30px 35px;
}

.libraryBookCard {
    width: min-content;
}

.libraryBookContainer {
    position: relative;
    transition: transform 0.2s;
}

.libraryBookContainer:hover {
    transform: scale(1.05);
}

.deleteIcon {
    top: 15px;
    right: 15px;
    position: absolute;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    padding: 5px;
}

.libraryBookCard:hover .deleteIcon {
    display: block;
}

.pagination {
    margin: 15px 0 0 35px;
}

.paginationInfo {
    padding: 0 10px;
}

.paginationButton {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    padding: 0;
}

.message {
    width: 100%;
    padding: 0 30px;
    font-size: 20px;
}

.changeStatusButton {
    background: none;
    color: #555;
    font-size: 14px;
    padding: 0;
    position: absolute;
    bottom: 10px;
    left: 15px;
    border-radius: 0;
}

.readButton {
    position: absolute;
    right: 20px;
    bottom: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

.readButton:active {
    transform: scale(0.95);
}