.search {
    display: flex;
}

.searchInput {
    padding: 0 5px;
    width: 600px;
    height: 40px;
    border: 2px solid #2441C1;
    border-right: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: none;
    padding-inline: 10px;
}

.searchInputText {
    color: #000;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 15px;
}

.searchButton {
    padding: 5px 10px;
    margin-left: -10px;
    height: 40px;
    border: 2px solid #2441C1;
    background-color: #2441C1;
    color: #FFF;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    outline: none;
    width: 80px;
}

.searchButton:focus {
    outline: none;
    outline-color: #2441C1;
}